DLQ.json
{
  "name": "DLQ",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ],
      "id": "75a50e15-bd7e-4479-b129-1923866ede24",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.item.json;\nconst checkName = row.check_name;\n\n// Static command map for account-level checks\nconst commandMap = {\n  \"IAM_AUTH_CHECK\":         \"aws sts get-caller-identity --output json\",\n  \"IAM_PASSWORD_POLICY\":    \"aws iam get-account-password-policy --output json\",\n  \"IAM_ACCOUNT_SUMMARY\":    \"aws iam get-account-summary --output json\",\n  \"IAM_USER_LIST\":          \"aws iam list-users --output json\",\n  \"IAM_ROLES_LIST\":         \"aws iam list-roles --output json\",\n  \"IAM_POLICIES_CUSTOM\":    \"aws iam list-policies --scope Local --output json\",\n  \"IAM_GROUPS_LIST\":        \"aws iam list-groups --output json\",\n  \"IAM_SAML_PROVIDERS\":     \"aws iam list-saml-providers --output json\",\n  \"IAM_OIDC_PROVIDERS\":     \"aws iam list-open-id-connect-providers --output json\",\n  \"IAM_VIRTUAL_MFA\":        \"aws iam list-virtual-mfa-devices --output json\",\n  \"IAM_ACCESS_ANALYZER\":    \"aws accessanalyzer list-analyzers --output json\",\n  \"IAM_CREDENTIAL_REPORT\":  \"aws iam generate-credential-report --output json\",\n  \"IAM_SUPPORT_ROLE\":       \"aws iam list-policies --scope AWS --query \\\"Policies[?PolicyName=='AWSSupportAccess']\\\" --output json\",\n  \"IAM_ROOT_ACCESS_KEYS\":   \"aws iam get-account-summary --query 'SummaryMap.AccountAccessKeysPresent' --output json\",\n  \"VPC_LIST\":               \"aws ec2 describe-vpcs --output json\",\n  \"VPC_FLOW_LOGS\":          \"aws ec2 describe-flow-logs --output json\",\n  \"VPC_DEFAULT_SG\":         \"aws ec2 describe-security-groups --filters Name=group-name,Values=default --output json\",\n  \"VPC_PEERING\":            \"aws ec2 describe-vpc-peering-connections --output json\",\n  \"VPC_INTERNET_GATEWAYS\":  \"aws ec2 describe-internet-gateways --output json\",\n  \"VPC_NACLS\":              \"aws ec2 describe-network-acls --output json\",\n  \"VPC_SUBNETS\":            \"aws ec2 describe-subnets --output json\",\n  \"VPC_ENDPOINTS\":          \"aws ec2 describe-vpc-endpoints --output json\",\n  \"NETWORK_INTERFACES\":     \"aws ec2 describe-network-interfaces --output json\",\n  \"ELASTIC_IPS\":            \"aws ec2 describe-addresses --output json\",\n  \"SECURITY_GROUPS\":        \"aws ec2 describe-security-groups --output json\",\n  \"EC2_VOLUMES\":            \"aws ec2 describe-volumes --output json\",\n  \"EC2_DEFAULT_ENCRYPTION\": \"aws ec2 get-ebs-encryption-by-default --output json\",\n  \"RDS_INSTANCES\":          \"aws rds describe-db-instances --output json\",\n  \"CT_TRAILS_LIST\":         \"aws cloudtrail describe-trails --output json\",\n  \"CT_EVENT_SELECTORS\":     \"aws cloudtrail describe-trails --query 'trailList[*].TrailARN' --output json\",\n  \"CW_ALARMS_LIST\":         \"aws cloudwatch describe-alarms --output json\",\n  \"CW_LOG_GROUPS\":          \"aws logs describe-log-groups --output json\",\n  \"CW_METRIC_FILTERS\":      \"aws logs describe-metric-filters --output json\",\n  \"CW_LOG_RETENTION\":       \"aws logs describe-log-groups --query 'logGroups[*].{name:logGroupName,retention:retentionInDays}' --output json\",\n  \"SNS_TOPICS_LIST\":        \"aws sns list-topics --output json\",\n  \"SNS_SUBSCRIPTIONS\":      \"aws sns list-subscriptions --output json\",\n  \"GUARDDUTY_DETECTORS\":    \"aws guardduty list-detectors --output json\",\n  \"GUARDDUTY_FINDINGS\":     \"aws guardduty list-detectors --output json\",\n  \"SECURITYHUB_STATUS\":     \"aws securityhub describe-hub --output json\",\n  \"SECURITYHUB_STANDARDS\":  \"aws securityhub get-enabled-standards --output json\",\n  \"INSPECTOR_STATUS\":       \"aws inspector2 list-coverage --output json\",\n  \"MACIE_STATUS\":           \"aws macie2 get-macie-session --output json\",\n  \"AWS_CONFIG_RECORDERS\":   \"aws configservice describe-configuration-recorders --output json\",\n  \"AWS_CONFIG_STATUS\":      \"aws configservice describe-configuration-recorder-status --output json\",\n  \"AWS_CONFIG_RULES\":       \"aws configservice describe-config-rules --output json\",\n  \"AWS_CONFIG_DELIVERY\":    \"aws configservice describe-delivery-channels --output json\",\n  \"AWS_CONFIG_COMPLIANCE\":  \"aws configservice describe-compliance-by-config-rule --output json\",\n  \"SECRETS_MANAGER_LIST\":   \"aws secretsmanager list-secrets --output json\",\n  \"SECRETS_ROTATION\":       \"aws secretsmanager list-secrets --output json\",\n  \"ACM_CERTIFICATES\":       \"aws acm list-certificates --output json\",\n  \"ACM_EXPIRY_CHECK\":       \"aws acm list-certificates --query 'CertificateSummaryList[*].{Arn:CertificateArn,Domain:DomainName,Status:Status}' --output json\",\n  \"SSM_PARAMETERS\":         \"aws ssm describe-parameters --output json\",\n\n  // ── PER-RESOURCE — uses stored identifiers from row ──\n  \"S3_ENCRYPTION\":    `aws s3api get-bucket-encryption --bucket ${row.bucket_name} --output json`,\n  \"S3_VERSIONING\":    `aws s3api get-bucket-versioning --bucket ${row.bucket_name} --output json`,\n  \"S3_LOGGING\":       `aws s3api get-bucket-logging --bucket ${row.bucket_name} --output json`,\n  \"S3_PUBLIC_BLOCK\":  `aws s3control get-public-access-block --account-id ${row.aws_account_id} --output json`,\n  \"S3_ACL\":           `aws s3api get-bucket-acl --bucket ${row.bucket_name} --output json`,\n\n  \"RDS_ENCRYPTION\":    `aws rds describe-db-instances --db-instance-identifier ${row.db_id} --query 'DBInstances[0].StorageEncrypted' --output json`,\n  \"RDS_PUBLIC_ACCESS\": `aws rds describe-db-instances --db-instance-identifier ${row.db_id} --query 'DBInstances[0].PubliclyAccessible' --output json`,\n  \"RDS_BACKUP\":        `aws rds describe-db-instances --db-instance-identifier ${row.db_id} --query 'DBInstances[0].BackupRetentionPeriod' --output json`,\n  \"RDS_MULTI_AZ\":      `aws rds describe-db-instances --db-instance-identifier ${row.db_id} --query 'DBInstances[0].MultiAZ' --output json`,\n\n  \"IAM_USER_MFA\":         `aws iam list-mfa-devices --user-name ${row.user_name} --output json`,\n  \"IAM_USER_ACCESS_KEYS\": `aws iam list-access-keys --user-name ${row.user_name} --output json`,\n  \"IAM_USER_POLICIES\":    `aws iam list-attached-user-policies --user-name ${row.user_name} --output json`,\n  \"IAM_USER_INLINE\":      `aws iam list-user-policies --user-name ${row.user_name} --output json`,\n  \"IAM_USER_GROUPS\":      `aws iam list-groups-for-user --user-name ${row.user_name} --output json`,\n\n  \"EC2_PUBLIC_IP\":         `aws ec2 describe-instances --instance-ids ${row.instance_id} --query 'Reservations[0].Instances[0].PublicIpAddress' --output json`,\n  \"EC2_IMDSV2\":            `aws ec2 describe-instances --instance-ids ${row.instance_id} --query 'Reservations[0].Instances[0].MetadataOptions' --output json`,\n  \"EC2_MONITORING\":        `aws ec2 describe-instances --instance-ids ${row.instance_id} --query 'Reservations[0].Instances[0].Monitoring' --output json`,\n  \"EC2_SSM_AGENT\":         `aws ssm describe-instance-information --filters Key=InstanceIds,Values=${row.instance_id} --output json`,\n  \"EC2_VOLUME_ENCRYPTED\":  `aws ec2 describe-volumes --filters Name=attachment.instance-id,Values=${row.instance_id} --query 'Volumes[*].{ID:VolumeId,Enc:Encrypted}' --output json`,\n\n  \"CT_LOGGING_ENABLED\": `aws cloudtrail get-trail-status --name ${row.trail_arn} --output json`,\n  \"CT_MULTI_REGION\":    `aws cloudtrail describe-trails --trail-name-list ${row.trail_arn} --query 'trailList[0].IsMultiRegionTrail' --output json`,\n  \"CT_LOG_VALIDATION\":  `aws cloudtrail describe-trails --trail-name-list ${row.trail_arn} --query 'trailList[0].LogFileValidationEnabled' --output json`,\n  \"CT_KMS_ENCRYPTION\":  `aws cloudtrail describe-trails --trail-name-list ${row.trail_arn} --query 'trailList[0].KMSKeyId' --output json`,\n  \"CT_S3_BUCKET\":       `aws cloudtrail describe-trails --trail-name-list ${row.trail_arn} --query 'trailList[0].S3BucketName' --output json`,\n\n  \"KMS_KEY_ROTATION\": `aws kms get-key-rotation-status --key-id ${row.key_id} --output json`,\n  \"KMS_KEY_POLICY\":   `aws kms get-key-policy --key-id ${row.key_id} --policy-name default --output json`,\n  \"KMS_KEY_METADATA\": `aws kms describe-key --key-id ${row.key_id} --output json`,\n\n  \"LAMBDA_PUBLIC_POLICY\": `aws lambda get-policy --function-name ${row.function_name} --output json`,\n  \"LAMBDA_ENV_SECRETS\":   `aws lambda get-function-configuration --function-name ${row.function_name} --output json`,\n  \"LAMBDA_VPC_CONFIG\":    `aws lambda get-function-configuration --function-name ${row.function_name} --query 'VpcConfig' --output json`,\n  \"LAMBDA_RUNTIME\":       `aws lambda get-function-configuration --function-name ${row.function_name} --query 'Runtime' --output json`,\n\n  \"LB_ACCESS_LOGS\":         `aws elbv2 describe-load-balancer-attributes --load-balancer-arn ${row.lb_arn} --output json`,\n  \"LB_HTTPS_LISTENER\":      `aws elbv2 describe-listeners --load-balancer-arn ${row.lb_arn} --output json`,\n  \"LB_DELETION_PROTECTION\": `aws elbv2 describe-load-balancer-attributes --load-balancer-arn ${row.lb_arn} --output json`,\n  \"LB_SCHEME\":              `aws elbv2 describe-load-balancers --load-balancer-arns ${row.lb_arn} --query 'LoadBalancers[0].Scheme' --output json`,\n\n  \"SQS_ENCRYPTION\":    `aws sqs get-queue-attributes --queue-url ${row.queue_url} --attribute-names KmsMasterKeyId SqsManagedSseEnabled --output json`,\n  \"SQS_PUBLIC_POLICY\": `aws sqs get-queue-attributes --queue-url ${row.queue_url} --attribute-names Policy --output json`,\n  \"SQS_DLQ_CONFIGURED\":`aws sqs get-queue-attributes --queue-url ${row.queue_url} --attribute-names RedrivePolicy --output json`,\n\n  \"ROLE_TRUST_POLICY\":      `aws iam get-role --role-name ${row.role_name} --query 'Role.AssumeRolePolicyDocument' --output json`,\n  \"ROLE_ATTACHED_POLICIES\": `aws iam list-attached-role-policies --role-name ${row.role_name} --output json`,\n  \"ROLE_INLINE_POLICIES\":   `aws iam list-role-policies --role-name ${row.role_name} --output json`,\n};\n\nconst cmd = commandMap[checkName];\n\nif (!cmd || cmd.includes(\"undefined\")) {\n  return {\n    ...row,\n    cmd: null,\n    skip: true,\n    skip_reason: `No command mapping found for check: ${checkName}`\n  };\n}\n\nreturn {\n  ...row,\n  cmd: cmd,\n  skip: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "2d41eb74-2f1b-4302-af28-ffe349e2a182",
      "name": "Command Resolver"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "compliance_evidence",
        "filters": {
          "conditions": [
            {
              "keyName": "compliance_status",
              "condition": "eq",
              "keyValue": "MANUAL_REVIEW"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "bb9cdeb0-fb89-4b3f-968d-9e91d35bc945",
      "name": "Get MANUAL_REVIEW rows",
      "credentials": {
        "supabaseApi": {
          "id": "edWigRn2UyTQrK3T",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52968a1a-b9ef-4562-a6c0-b5cd36cb49f1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        0
      ],
      "id": "6f95acfa-34ce-4c1f-8e99-a4ff97bcf3ec",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://awscli:8080/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cmd\": \"{{ $json.cmd }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        0
      ],
      "id": "009ea7f4-7089-4abf-98b7-6e8ecadd31a8",
      "name": "AWS cli request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "compliance_evidence",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Filter').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "compliance_status",
              "fieldValue": "={{ $json.compliance_status }}"
            },
            {
              "fieldId": "evidence_summary",
              "fieldValue": "={{ $json.evidence_summary }}"
            },
            {
              "fieldId": "raw_data",
              "fieldValue": "={{ $json.raw_data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "id": "95c9a8c5-9721-49c7-82c3-19aa736b3b7b",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "edWigRn2UyTQrK3T",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cmdInfo = $('Filter').item.json;\n\nconst response = $input.item.json || {};\nconst errorData = $input.item.error || response.error || null;\nconst errorMsg = errorData ? (errorData.message || String(errorData)) : null;\n\n// Unwrap the .output from Flask response\nconst output = response.output || {};\n\nlet status = \"MANUAL_REVIEW\";\nlet evidence = \"Check failed to execute properly.\";\n\nconst isNoSuchEntity =\n  errorMsg && (\n    errorMsg.includes(\"NoSuchEntity\") ||\n    errorMsg.includes(\"not found\") ||\n    errorMsg.includes(\"NoSuchPublicAccessBlockConfiguration\") ||\n    errorMsg.includes(\"UnsupportedOperationException\") ||\n    errorMsg.includes(\"DisabledException\") ||\n    errorMsg.includes(\"ResourceNotFoundException\") ||\n    errorMsg.includes(\"AccessDeniedException\") ||\n    errorMsg.includes(\"InvalidAccessException\") ||\n    errorMsg.includes(\"SubscriptionRequiredException\")  // ADD THIS\n  );\n\n// SCENARIO 1: Real System Crash\nif (errorMsg && !isNoSuchEntity) {\n  return {\n    check_name: cmdInfo.check_name,\n    resource_type: cmdInfo.resource_type,\n    compliance_status: \"MANUAL_REVIEW\",\n    evidence_summary: `SYSTEM ERROR: API execution failed. Human verification required.`,\n    aws_account_id: $('Filter').item.json.aws_account_id, \n    raw_data: errorMsg\n  };\n}\n\n// SCENARIO 2: Evaluate against CIS Benchmarks\ntry {\n  switch (cmdInfo.check_name) {\n\n    case \"IAM_AUTH_CHECK\":\n      if (output.Arn) {\n        status = \"PASS\";\n        evidence = `Authentication successful. Role verified: ${output.Arn}`;\n      }\n      break;\n\n    case \"IAM_PASSWORD_POLICY\":\n      if (isNoSuchEntity) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No custom IAM password policy exists. Default AWS policy is too weak.\";\n      } else if (output.PasswordPolicy) {\n        const pol = output.PasswordPolicy;\n        const isStrong =\n          pol.MinimumPasswordLength >= 14 &&\n          pol.RequireNumbers &&\n          pol.RequireSymbols;\n\n        status = isStrong ? \"PASS\" : \"FAIL\";\n        evidence = isStrong\n          ? \"IAM Password policy is strictly enforced.\"\n          : \"FAIL: Password policy exists but lacks strict requirements (Length < 14 or missing symbols).\";\n      }\n      break;\n\n    case \"IAM_ACCOUNT_SUMMARY\":\n      const summary = output.SummaryMap;\n      if (summary) {\n        const rootMfa = summary.AccountMFAEnabled === 1;\n        status = rootMfa ? \"PASS\" : \"FAIL\";\n        evidence = rootMfa\n          ? \"Root account MFA is enabled.\"\n          : \"CRITICAL FAIL: Root account MFA is NOT enabled.\";\n      }\n      break;\n\n    case \"IAM_USER_LIST\":\n      if (output.Users) {\n        status = \"PASS\";\n        evidence = `Verified active IAM user inventory. Found ${output.Users.length} users.`;\n      }\n      break;\n\n    case \"VPC_LIST\":\n      if (output.Vpcs) {\n        status = \"PASS\";\n        evidence = `Found ${output.Vpcs.length} VPC(s) in the region.`;\n      }\n      break;\n\n    case \"VPC_FLOW_LOGS\":\n      const logs = output.FlowLogs || [];\n      status = logs.length > 0 ? \"PASS\" : \"FAIL\";\n      evidence = logs.length > 0\n        ? \"VPC network traffic is being logged.\"\n        : \"FAIL: VPC Flow Logs are disabled. No network audit trail exists.\";\n      break;\n\n    case \"EC2_VOLUMES\":\n      const volumes = output.Volumes || [];\n      if (volumes.length === 0) {\n        status = \"PASS\";\n        evidence = \"No EC2 volumes found. Nothing to audit.\";\n      } else {\n        const unencrypted = volumes.filter((v) => v.Encrypted === false);\n        status = unencrypted.length === 0 ? \"PASS\" : \"FAIL\";\n        evidence = unencrypted.length === 0\n          ? \"All EC2 volumes are encrypted at rest.\"\n          : `FAIL: Found ${unencrypted.length} unencrypted volumes.`;\n      }\n      break;\n\n    case \"EC2_DEFAULT_ENCRYPTION\":\n      const encryptionEnabled = output.EbsEncryptionByDefault === true;\n      status = encryptionEnabled ? \"PASS\" : \"FAIL\";\n      evidence = encryptionEnabled\n        ? \"EBS encryption by default is enabled.\"\n        : \"FAIL: EBS encryption by default is DISABLED.\";\n      break;\n\n    case \"RDS_INSTANCES\":\n      const dbs = output.DBInstances || [];\n      if (dbs.length === 0) {\n        status = \"PASS\";\n        evidence = \"No active RDS instances found. Nothing to audit.\";\n      } else {\n        const unencryptedDbs = dbs.filter((db) => db.StorageEncrypted === false);\n        status = unencryptedDbs.length === 0 ? \"PASS\" : \"FAIL\";\n        evidence = unencryptedDbs.length === 0\n          ? \"All RDS instances are encrypted.\"\n          : `FAIL: Found ${unencryptedDbs.length} unencrypted RDS instances.`;\n      }\n      break;\n\n    case \"SECURITY_GROUPS\":\n      const sgs = output.SecurityGroups || [];\n      let openPorts = [];\n\n      sgs.forEach((sg) => {\n        (sg.IpPermissions || []).forEach((perm) => {\n          const isSsh = perm.FromPort <= 22 && perm.ToPort >= 22;\n          const isRdp = perm.FromPort <= 3389 && perm.ToPort >= 3389;\n\n          if (isSsh || isRdp) {\n            const isWorldOpen = (perm.IpRanges || []).some(\n              (r) => r.CidrIp === \"0.0.0.0/0\"\n            );\n            if (isWorldOpen) {\n              openPorts.push(`${sg.GroupId}:${isSsh ? \"SSH\" : \"RDP\"}`);\n            }\n          }\n        });\n      });\n\n      status = openPorts.length === 0 ? \"PASS\" : \"FAIL\";\n      evidence = status === \"PASS\"\n        ? \"All security groups restrict SSH/RDP access to specific IPs.\"\n        : `FAIL: Unrestricted SSH/RDP access found in Groups: ${openPorts.join(\", \")}.`;\n      break;\n\n    case \"S3_ENCRYPTION\":\n      const encRules = output.ServerSideEncryptionConfiguration?.Rules || [];\n      status = encRules.length > 0 ? \"PASS\" : \"FAIL\";\n      evidence = encRules.length > 0\n        ? `S3 bucket '${cmdInfo.bucket_name}' has server-side encryption enabled.`\n        : `FAIL: S3 bucket '${cmdInfo.bucket_name}' has NO encryption configured.`;\n      break;\n\n    case \"S3_VERSIONING\":\n      const vStatus = output.Status;\n      status = vStatus === \"Enabled\" ? \"PASS\" : \"FAIL\";\n      evidence = vStatus === \"Enabled\"\n        ? `S3 bucket '${cmdInfo.bucket_name}' versioning is enabled.`\n        : `FAIL: S3 bucket '${cmdInfo.bucket_name}' versioning is DISABLED. Data loss risk.`;\n      break;\n\n    case \"S3_LOGGING\":\n      const logEnabled = output.LoggingEnabled ? true : false;\n      status = logEnabled ? \"PASS\" : \"FAIL\";\n      evidence = logEnabled\n        ? `S3 bucket '${cmdInfo.bucket_name}' access logging is enabled.`\n        : `FAIL: S3 bucket '${cmdInfo.bucket_name}' has NO access logging. No audit trail.`;\n      break;\n\n    case \"S3_PUBLIC_BLOCK\":\n      if (isNoSuchEntity) {\n        status = \"FAIL\";\n        evidence = `FAIL: No account-level S3 public access block configured. All buckets could be publicly exposed.`;\n      } else {\n        const pb = output.PublicAccessBlockConfiguration || {};\n        const fullyBlocked =\n          pb.BlockPublicAcls &&\n          pb.IgnorePublicAcls &&\n          pb.BlockPublicPolicy &&\n          pb.RestrictPublicBuckets;\n\n        status = fullyBlocked ? \"PASS\" : \"FAIL\";\n        evidence = fullyBlocked\n          ? `Account-level S3 public access block is fully enabled.`\n          : `FAIL: Account-level S3 public access block is INCOMPLETE. Some public access settings are missing.`;\n      }\n      break;\n\n    case \"S3_ACL\":\n      const grants = output.Grants || [];\n      const publicGrant = grants.find(\n        (g) =>\n          g.Grantee?.URI === \"http://acs.amazonaws.com/groups/global/AllUsers\" ||\n          g.Grantee?.URI === \"http://acs.amazonaws.com/groups/global/AuthenticatedUsers\"\n      );\n\n      status = publicGrant ? \"FAIL\" : \"PASS\";\n      evidence = publicGrant\n        ? `FAIL: S3 bucket '${cmdInfo.bucket_name}' ACL grants PUBLIC access.`\n        : `S3 bucket '${cmdInfo.bucket_name}' ACL is private. No public grants found.`;\n      break;\n\n    case \"RDS_ENCRYPTION\":\n      const rdsEncrypted = output === true;\n      status = rdsEncrypted ? \"PASS\" : \"FAIL\";\n      evidence = rdsEncrypted\n        ? `RDS instance '${cmdInfo.db_id}' storage is encrypted.`\n        : `FAIL: RDS instance '${cmdInfo.db_id}' storage is NOT encrypted.`;\n      break;\n\n    case \"RDS_PUBLIC_ACCESS\":\n      const rdsPublic = output === true;\n      status = rdsPublic ? \"FAIL\" : \"PASS\";\n      evidence = rdsPublic\n        ? `FAIL: RDS instance '${cmdInfo.db_id}' is PUBLICLY ACCESSIBLE. Critical exposure risk.`\n        : `RDS instance '${cmdInfo.db_id}' is not publicly accessible.`;\n      break;\n\n    case \"RDS_BACKUP\":\n      const retention = typeof output === \"number\" ? output : 0;\n      status = retention >= 7 ? \"PASS\" : \"FAIL\";\n      evidence = retention >= 7\n        ? `RDS instance '${cmdInfo.db_id}' backup retention is ${retention} days.`\n        : `FAIL: RDS instance '${cmdInfo.db_id}' backup retention is only ${retention} days. Minimum 7 required.`;\n      break;\n\n    case \"RDS_MULTI_AZ\":\n      const multiAz = output === true;\n      status = multiAz ? \"PASS\" : \"FAIL\";\n      evidence = multiAz\n        ? `RDS instance '${cmdInfo.db_id}' has Multi-AZ enabled. High availability confirmed.`\n        : `FAIL: RDS instance '${cmdInfo.db_id}' has NO Multi-AZ. Single point of failure.`;\n      break;\n\n    case \"IAM_USER_MFA\":\n      const mfaDevices = output.MFADevices || [];\n      status = mfaDevices.length > 0 ? \"PASS\" : \"FAIL\";\n      evidence = mfaDevices.length > 0\n        ? `IAM user '${cmdInfo.user_name}' has MFA enabled (${mfaDevices.length} device(s)).`\n        : `FAIL: IAM user '${cmdInfo.user_name}' has NO MFA enabled. Account takeover risk.`;\n      break;\n\n    case \"IAM_USER_ACCESS_KEYS\":\n      const keys = output.AccessKeyMetadata || [];\n      const activeKeys = keys.filter(k => k.Status === \"Active\");\n      const oldKeys = activeKeys.filter(k => {\n        const created = new Date(k.CreateDate);\n        const daysSince = (Date.now() - created) / (1000 * 60 * 60 * 24);\n        return daysSince > 90;\n      });\n\n      if (activeKeys.length === 0) {\n        status = \"PASS\";\n        evidence = `IAM user '${cmdInfo.user_name}' has no active access keys.`;\n      } else if (oldKeys.length > 0) {\n        status = \"FAIL\";\n        evidence = `FAIL: IAM user '${cmdInfo.user_name}' has ${oldKeys.length} access key(s) older than 90 days. Rotation required.`;\n      } else {\n        status = \"PASS\";\n        evidence = `IAM user '${cmdInfo.user_name}' has ${activeKeys.length} active key(s), all rotated within 90 days.`;\n      }\n      break;\n\n    case \"IAM_USER_POLICIES\":\n      const attachedPolicies = output.AttachedPolicies || [];\n      const hasAdminPolicy = attachedPolicies.some(p =>\n        p.PolicyName === \"AdministratorAccess\" || p.PolicyArn?.includes(\"AdministratorAccess\")\n      );\n      status = hasAdminPolicy ? \"FAIL\" : \"PASS\";\n      evidence = hasAdminPolicy\n        ? `FAIL: IAM user '${cmdInfo.user_name}' has AdministratorAccess policy directly attached. Violates least privilege.`\n        : `IAM user '${cmdInfo.user_name}' has no admin policies directly attached (${attachedPolicies.length} policies).`;\n      break;\n\n    case \"IAM_USER_INLINE\":\n      const inlinePolicies = output.PolicyNames || [];\n      status = inlinePolicies.length === 0 ? \"PASS\" : \"FAIL\";\n      evidence = inlinePolicies.length === 0\n        ? `IAM user '${cmdInfo.user_name}' has no inline policies. Good practice.`\n        : `FAIL: IAM user '${cmdInfo.user_name}' has ${inlinePolicies.length} inline policy(s): ${inlinePolicies.join(', ')}. Inline policies are hard to audit.`;\n      break;\n\n    case \"IAM_USER_GROUPS\":\n      const groups = output.Groups || [];\n      status = groups.length > 0 ? \"PASS\" : \"FAIL\";\n      evidence = groups.length > 0\n        ? `IAM user '${cmdInfo.user_name}' is assigned to ${groups.length} group(s): ${groups.map(g => g.GroupName).join(', ')}.`\n        : `FAIL: IAM user '${cmdInfo.user_name}' is not in any IAM group. Permissions should be managed via groups.`;\n      break;\n\n    case \"EC2_PUBLIC_IP\":\n      // output is either a string IP or null\n      const hasPublicIp = output !== null && output !== \"\" && typeof output === \"string\";\n      status = hasPublicIp ? \"FAIL\" : \"PASS\";\n      evidence = hasPublicIp\n        ? `FAIL: EC2 instance '${cmdInfo.instance_id}' has a PUBLIC IP (${output}). Direct internet exposure risk.`\n        : `EC2 instance '${cmdInfo.instance_id}' has no public IP. Good.`;\n      break;\n\n    case \"EC2_IMDSV2\":\n      // output is MetadataOptions object\n      const httpTokens = output?.HttpTokens;\n      status = httpTokens === \"required\" ? \"PASS\" : \"FAIL\";\n      evidence = httpTokens === \"required\"\n        ? `EC2 instance '${cmdInfo.instance_id}' enforces IMDSv2. SSRF attacks blocked.`\n        : `FAIL: EC2 instance '${cmdInfo.instance_id}' allows IMDSv1. Vulnerable to SSRF credential theft.`;\n      break;\n\n    case \"EC2_MONITORING\":\n      // output is Monitoring object { State: \"enabled\" | \"disabled\" }\n      const monState = output?.State;\n      status = monState === \"enabled\" ? \"PASS\" : \"FAIL\";\n      evidence = monState === \"enabled\"\n        ? `EC2 instance '${cmdInfo.instance_id}' has detailed monitoring enabled.`\n        : `FAIL: EC2 instance '${cmdInfo.instance_id}' monitoring is DISABLED. No visibility into instance health.`;\n      break;\n\n    case \"EC2_SSM_AGENT\":\n      // output is InstanceInformationList array\n      const ssmList = output?.InstanceInformationList || [];\n      const ssmOnline = ssmList.some(i => i.PingStatus === \"Online\");\n      status = ssmOnline ? \"PASS\" : \"FAIL\";\n      evidence = ssmOnline\n        ? `EC2 instance '${cmdInfo.instance_id}' has SSM Agent running. Patch management available.`\n        : `FAIL: EC2 instance '${cmdInfo.instance_id}' SSM Agent is OFFLINE or not installed. Cannot enforce patching.`;\n      break;\n\n    case \"EC2_VOLUME_ENCRYPTED\":\n      // output is array of {ID, Enc} objects\n      const instanceVolumes = Array.isArray(output) ? output : [];\n      if (instanceVolumes.length === 0) {\n        status = \"PASS\";\n        evidence = `EC2 instance '${cmdInfo.instance_id}' has no attached volumes to audit.`;\n      } else {\n        const unencVols = instanceVolumes.filter(v => v.Enc === false);\n        status = unencVols.length === 0 ? \"PASS\" : \"FAIL\";\n        evidence = unencVols.length === 0\n          ? `EC2 instance '${cmdInfo.instance_id}' all ${instanceVolumes.length} volume(s) are encrypted.`\n          : `FAIL: EC2 instance '${cmdInfo.instance_id}' has ${unencVols.length} UNENCRYPTED volume(s): ${unencVols.map(v => v.ID).join(', ')}.`;\n      }\n      break;\n\n    case \"CT_LOGGING_ENABLED\":\n      const isLogging = output.IsLogging === true;\n      status = isLogging ? \"PASS\" : \"FAIL\";\n      evidence = isLogging\n        ? `CloudTrail '${cmdInfo.trail_name}' is actively logging.`\n        : `FAIL: CloudTrail '${cmdInfo.trail_name}' logging is STOPPED. No audit trail being recorded.`;\n      break;\n\n    case \"CT_MULTI_REGION\":\n      // output is true/false boolean directly from query\n      const isMultiRegion = output === true;\n      status = isMultiRegion ? \"PASS\" : \"FAIL\";\n      evidence = isMultiRegion\n        ? `CloudTrail '${cmdInfo.trail_name}' covers ALL regions. Full account visibility.`\n        : `FAIL: CloudTrail '${cmdInfo.trail_name}' is single-region only. Activity in other regions is NOT logged.`;\n      break;\n\n    case \"CT_LOG_VALIDATION\":\n      // output is true/false boolean directly from query\n      const validationEnabled = output === true;\n      status = validationEnabled ? \"PASS\" : \"FAIL\";\n      evidence = validationEnabled\n        ? `CloudTrail '${cmdInfo.trail_name}' log file validation is enabled. Tamper detection active.`\n        : `FAIL: CloudTrail '${cmdInfo.trail_name}' log validation is DISABLED. Logs could be tampered without detection.`;\n      break;\n\n    case \"CT_KMS_ENCRYPTION\":\n      // output is the KMSKeyId string or null\n      const hasKmsKey = output !== null && output !== \"\" && typeof output === \"string\";\n      status = hasKmsKey ? \"PASS\" : \"FAIL\";\n      evidence = hasKmsKey\n        ? `CloudTrail '${cmdInfo.trail_name}' logs are encrypted with KMS key: ${output}.`\n        : `FAIL: CloudTrail '${cmdInfo.trail_name}' logs are NOT encrypted with KMS. Stored in plaintext.`;\n      break;\n\n    case \"CT_S3_BUCKET\":\n      // output is the S3BucketName string or null\n      const hasBucket = output !== null && output !== \"\" && typeof output === \"string\";\n      status = hasBucket ? \"PASS\" : \"FAIL\";\n      evidence = hasBucket\n        ? `CloudTrail '${cmdInfo.trail_name}' is delivering logs to S3 bucket: '${output}'.`\n        : `FAIL: CloudTrail '${cmdInfo.trail_name}' has NO S3 bucket configured. Logs are not being stored.`;\n      break;\n\n    case \"KMS_KEY_ROTATION\":\n      if (isNoSuchEntity) {\n        status = \"PASS\";\n        evidence = `KMS key '${cmdInfo.key_id}' is AWS-managed. Rotation is handled automatically by AWS.`;\n      } else {\n        const rotationEnabled = output.KeyRotationEnabled === true;\n        status = rotationEnabled ? \"PASS\" : \"FAIL\";\n        evidence = rotationEnabled\n          ? `KMS key '${cmdInfo.key_id}' has automatic rotation enabled.`\n          : `FAIL: KMS key '${cmdInfo.key_id}' does NOT have automatic rotation enabled. Stale key material risk.`;\n      }\n      break;\n\n    case \"KMS_KEY_POLICY\":\n      // Check if key policy allows * principal (anyone) — critical misconfiguration\n      const policyStr = output.Policy || \"{}\";\n      let policyJson = {};\n      try { policyJson = JSON.parse(policyStr); } catch(e) { policyJson = {}; }\n      const statements = policyJson.Statement || [];\n      const hasWildcardPrincipal = statements.some(stmt => {\n        const principal = stmt.Principal;\n        return (\n          principal === \"*\" ||\n          principal?.AWS === \"*\" ||\n          (Array.isArray(principal?.AWS) && principal.AWS.includes(\"*\"))\n        );\n      });\n      status = hasWildcardPrincipal ? \"FAIL\" : \"PASS\";\n      evidence = hasWildcardPrincipal\n        ? `FAIL: KMS key '${cmdInfo.key_id}' policy allows wildcard (*) principal. Any AWS entity can use this key.`\n        : `KMS key '${cmdInfo.key_id}' policy is restricted. No wildcard principals found.`;\n      break;\n\n    case \"KMS_KEY_METADATA\":\n      const keyMeta = output.KeyMetadata || {};\n      const keyState = keyMeta.KeyState;\n      const keyManager = keyMeta.KeyManager;\n      const keyEnabled = keyState === \"Enabled\";\n      // AWS managed keys are fine as-is, customer managed should be enabled\n      if (keyManager === \"AWS\") {\n        status = \"PASS\";\n        evidence = `KMS key '${cmdInfo.key_id}' is AWS-managed. State: ${keyState}. Auto-managed by AWS.`;\n      } else if (keyEnabled) {\n        status = \"PASS\";\n        evidence = `KMS key '${cmdInfo.key_id}' is customer-managed and ENABLED. State: ${keyState}.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: KMS key '${cmdInfo.key_id}' is customer-managed but state is '${keyState}'. Key is not operational.`;\n      }\n      break;\n\n    case \"LAMBDA_PUBLIC_POLICY\":\n      // If no policy exists AWS returns ResourceNotFoundException\n      // which is caught by isNoSuchEntity — means no public access = PASS\n      if (isNoSuchEntity) {\n        status = \"PASS\";\n        evidence = `Lambda function '${cmdInfo.function_name}' has no resource policy. Not publicly accessible.`;\n      } else {\n        const policyRaw = output.Policy || \"{}\";\n        let lambdaPolicy = {};\n        try { lambdaPolicy = JSON.parse(policyRaw); } catch(e) { lambdaPolicy = {}; }\n        const lambdaStmts = lambdaPolicy.Statement || [];\n        const isPublic = lambdaStmts.some(stmt => {\n          const principal = stmt.Principal;\n          return (\n            stmt.Effect === \"Allow\" && (\n              principal === \"*\" ||\n              principal?.Service === \"*\" ||\n              principal?.AWS === \"*\" ||\n              (Array.isArray(principal?.AWS) && principal.AWS.includes(\"*\"))\n            )\n          );\n        });\n        status = isPublic ? \"FAIL\" : \"PASS\";\n        evidence = isPublic\n          ? `FAIL: Lambda function '${cmdInfo.function_name}' has a PUBLIC resource policy. Anyone can invoke it.`\n          : `Lambda function '${cmdInfo.function_name}' resource policy is restricted. No public access.`;\n      }\n      break;\n\n    case \"LAMBDA_ENV_SECRETS\":\n      // Check if env vars contain hardcoded secrets (key names are a giveaway)\n      const envVars = output.Environment?.Variables || {};\n      const secretKeywords = [\"SECRET\", \"PASSWORD\", \"PASS\", \"KEY\", \"TOKEN\", \"CREDENTIAL\", \"API_KEY\", \"PRIVATE\"];\n      const suspiciousKeys = Object.keys(envVars).filter(k =>\n        secretKeywords.some(keyword => k.toUpperCase().includes(keyword))\n      );\n      // Also check if KMS key is used for env encryption\n      const hasKmsEncryption = output.KMSKeyArn ? true : false;\n      if (suspiciousKeys.length === 0) {\n        status = \"PASS\";\n        evidence = `Lambda function '${cmdInfo.function_name}' has no suspicious environment variable names detected.`;\n      } else if (suspiciousKeys.length > 0 && hasKmsEncryption) {\n        status = \"PASS\";\n        evidence = `Lambda function '${cmdInfo.function_name}' has sensitive env vars (${suspiciousKeys.join(', ')}) but they are KMS-encrypted.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: Lambda function '${cmdInfo.function_name}' has potentially hardcoded secrets in env vars: ${suspiciousKeys.join(', ')}. Use Secrets Manager instead.`;\n      }\n      break;\n\n    case \"LAMBDA_VPC_CONFIG\":\n      // output is VpcConfig object directly from query\n      const vpcId = output?.VpcId;\n      const hasVpc = vpcId !== null && vpcId !== \"\" && typeof vpcId === \"string\";\n      status = hasVpc ? \"PASS\" : \"FAIL\";\n      evidence = hasVpc\n        ? `Lambda function '${cmdInfo.function_name}' is deployed inside VPC '${vpcId}'. Network isolated.`\n        : `FAIL: Lambda function '${cmdInfo.function_name}' is NOT inside a VPC. Runs in public AWS network space.`;\n      break;\n\n    case \"LAMBDA_RUNTIME\":\n      // output is the runtime string directly from query e.g. \"nodejs18.x\"\n      const runtime = typeof output === \"string\" ? output : \"\";\n      // Deprecated runtimes that should not be used\n      const deprecatedRuntimes = [\n        \"nodejs\",        // EOL\n        \"nodejs4.3\",     // EOL\n        \"nodejs6.10\",    // EOL\n        \"nodejs8.10\",    // EOL\n        \"nodejs10.x\",    // EOL\n        \"nodejs12.x\",    // EOL\n        \"python2.7\",     // EOL\n        \"python3.6\",     // EOL\n        \"python3.7\",     // EOL\n        \"dotnetcore1.0\", // EOL\n        \"dotnetcore2.0\", // EOL\n        \"dotnetcore2.1\", // EOL\n        \"ruby2.5\",       // EOL\n        \"java8\",         // EOL\n      ];\n      const isDeprecated = deprecatedRuntimes.includes(runtime);\n      status = isDeprecated ? \"FAIL\" : \"PASS\";\n      evidence = isDeprecated\n        ? `FAIL: Lambda function '${cmdInfo.function_name}' uses DEPRECATED runtime '${runtime}'. Security patches no longer available.`\n        : `Lambda function '${cmdInfo.function_name}' uses runtime '${runtime}'. Currently supported.`;\n      break;\n\n    case \"LB_ACCESS_LOGS\":\n      const lbAttrs = output.Attributes || [];\n      const accessLogsEnabled = lbAttrs.find(a => a.Key === \"access_logs.s3.enabled\");\n      const logsOn = accessLogsEnabled?.Value === \"true\";\n      status = logsOn ? \"PASS\" : \"FAIL\";\n      evidence = logsOn\n        ? `Load balancer '${cmdInfo.lb_name}' has access logging enabled to S3.`\n        : `FAIL: Load balancer '${cmdInfo.lb_name}' has NO access logging. Traffic is not being recorded.`;\n      break;\n\n    case \"LB_HTTPS_LISTENER\":\n      const listeners = output.Listeners || [];\n      if (listeners.length === 0) {\n        status = \"FAIL\";\n        evidence = `FAIL: Load balancer '${cmdInfo.lb_name}' has NO listeners configured.`;\n      } else {\n        const httpListeners = listeners.filter(l => l.Protocol === \"HTTP\");\n        const httpsListeners = listeners.filter(l => l.Protocol === \"HTTPS\");\n        // Check if any HTTP listener redirects to HTTPS\n        const httpWithRedirect = httpListeners.filter(l =>\n          (l.DefaultActions || []).some(a => a.Type === \"redirect\" && a.RedirectConfig?.Protocol === \"HTTPS\")\n        );\n        const allHttpSecure = httpListeners.length === 0 || httpWithRedirect.length === httpListeners.length;\n        status = (httpsListeners.length > 0 && allHttpSecure) ? \"PASS\" : \"FAIL\";\n        evidence = status === \"PASS\"\n          ? `Load balancer '${cmdInfo.lb_name}' enforces HTTPS. HTTP redirects to HTTPS.`\n          : `FAIL: Load balancer '${cmdInfo.lb_name}' has unprotected HTTP listeners without HTTPS redirect. Traffic is unencrypted.`;\n      }\n      break;\n\n    case \"LB_DELETION_PROTECTION\":\n      const delAttrs = output.Attributes || [];\n      const delProtection = delAttrs.find(a => a.Key === \"deletion_protection.enabled\");\n      const isProtected = delProtection?.Value === \"true\";\n      status = isProtected ? \"PASS\" : \"FAIL\";\n      evidence = isProtected\n        ? `Load balancer '${cmdInfo.lb_name}' has deletion protection enabled.`\n        : `FAIL: Load balancer '${cmdInfo.lb_name}' has NO deletion protection. Can be accidentally deleted.`;\n      break;\n\n    case \"LB_SCHEME\":\n      // output is the scheme string directly — \"internet-facing\" or \"internal\"\n      const scheme = typeof output === \"string\" ? output : \"\";\n      status = scheme === \"internal\" ? \"PASS\" : \"FAIL\";\n      evidence = scheme === \"internal\"\n        ? `Load balancer '${cmdInfo.lb_name}' is INTERNAL. Not exposed to public internet.`\n        : `FAIL: Load balancer '${cmdInfo.lb_name}' is INTERNET-FACING. Ensure this is intentional and properly secured.`;\n      break;\n\n    case \"SQS_ENCRYPTION\":\n      const sqsAttrs = output.Attributes || {};\n      const hasSqsKms = sqsAttrs.KmsMasterKeyId && sqsAttrs.KmsMasterKeyId !== \"\";\n      const hasSqsSse = sqsAttrs.SqsManagedSseEnabled === \"true\";\n      const sqsEncrypted = hasSqsKms || hasSqsSse;\n      status = sqsEncrypted ? \"PASS\" : \"FAIL\";\n      evidence = sqsEncrypted\n        ? hasSqsKms\n          ? `SQS queue '${cmdInfo.queue_name}' is encrypted with KMS key: ${sqsAttrs.KmsMasterKeyId}.`\n          : `SQS queue '${cmdInfo.queue_name}' is encrypted with SSE-SQS managed encryption.`\n        : `FAIL: SQS queue '${cmdInfo.queue_name}' has NO encryption. Messages stored in plaintext.`;\n      break;\n\n    case \"SQS_PUBLIC_POLICY\":\n      const sqsPolicyAttrs = output.Attributes || {};\n      const sqsPolicyRaw = sqsPolicyAttrs.Policy;\n      if (!sqsPolicyRaw) {\n        status = \"PASS\";\n        evidence = `SQS queue '${cmdInfo.queue_name}' has no resource policy. Not publicly accessible.`;\n      } else {\n        let sqsPolicy = {};\n        try { sqsPolicy = JSON.parse(sqsPolicyRaw); } catch(e) { sqsPolicy = {}; }\n        const sqsStmts = sqsPolicy.Statement || [];\n        const sqsIsPublic = sqsStmts.some(stmt => {\n          const principal = stmt.Principal;\n          return (\n            stmt.Effect === \"Allow\" && (\n              principal === \"*\" ||\n              principal?.AWS === \"*\" ||\n              (Array.isArray(principal?.AWS) && principal.AWS.includes(\"*\"))\n            )\n          );\n        });\n        status = sqsIsPublic ? \"FAIL\" : \"PASS\";\n        evidence = sqsIsPublic\n          ? `FAIL: SQS queue '${cmdInfo.queue_name}' policy allows PUBLIC access (*). Anyone can send/receive messages.`\n          : `SQS queue '${cmdInfo.queue_name}' policy is restricted. No public principals found.`;\n      }\n      break;\n\n    case \"SQS_DLQ_CONFIGURED\":\n      const sqsDlqAttrs = output.Attributes || {};\n      const redrivePolicy = sqsDlqAttrs.RedrivePolicy;\n      const hasDlq = redrivePolicy && redrivePolicy !== \"\";\n      status = hasDlq ? \"PASS\" : \"FAIL\";\n      evidence = hasDlq\n        ? `SQS queue '${cmdInfo.queue_name}' has a Dead Letter Queue configured. Failed messages will be captured.`\n        : `FAIL: SQS queue '${cmdInfo.queue_name}' has NO Dead Letter Queue. Failed messages will be silently lost.`;\n      break;\n\n    case \"ROLE_TRUST_POLICY\":\n      // Check if trust policy allows * principal (anyone can assume this role)\n      const trustStmts = output.Statement || [];\n      const wildcardTrust = trustStmts.some(stmt => {\n        const principal = stmt.Principal;\n        return (\n          stmt.Effect === \"Allow\" && (\n            principal === \"*\" ||\n            principal?.AWS === \"*\" ||\n            (Array.isArray(principal?.AWS) && principal.AWS.includes(\"*\"))\n          )\n        );\n      });\n      status = wildcardTrust ? \"FAIL\" : \"PASS\";\n      evidence = wildcardTrust\n        ? `FAIL: IAM role '${cmdInfo.role_name}' trust policy allows ANY principal (*) to assume it. Critical privilege escalation risk.`\n        : `IAM role '${cmdInfo.role_name}' trust policy is restricted to specific principals.`;\n      break;\n\n    case \"ROLE_ATTACHED_POLICIES\":\n      const roleAttachedPolicies = output.AttachedPolicies || [];\n      const roleHasAdmin = roleAttachedPolicies.some(p =>\n        p.PolicyName === \"AdministratorAccess\" ||\n        p.PolicyArn?.includes(\"AdministratorAccess\")\n      );\n      if (roleHasAdmin) {\n        status = \"FAIL\";\n        evidence = `FAIL: IAM role '${cmdInfo.role_name}' has AdministratorAccess attached. Full account access granted. Violates least privilege.`;\n      } else if (roleAttachedPolicies.length === 0) {\n        status = \"PASS\";\n        evidence = `IAM role '${cmdInfo.role_name}' has no attached managed policies.`;\n      } else {\n        status = \"PASS\";\n        evidence = `IAM role '${cmdInfo.role_name}' has ${roleAttachedPolicies.length} managed policy(s) attached. No admin access found.`;\n      }\n      break;\n\n    case \"ROLE_INLINE_POLICIES\":\n      const roleInlinePolicies = output.PolicyNames || [];\n      status = roleInlinePolicies.length === 0 ? \"PASS\" : \"FAIL\";\n      evidence = roleInlinePolicies.length === 0\n        ? `IAM role '${cmdInfo.role_name}' has no inline policies. Good practice.`\n        : `FAIL: IAM role '${cmdInfo.role_name}' has ${roleInlinePolicies.length} inline policy(s): ${roleInlinePolicies.join(', ')}. Inline policies bypass central access management.`;\n      break;\n\n    case \"IAM_ROLES_LIST\":\n      const rolesList = output.Roles || [];\n      status = \"PASS\";\n      evidence = `IAM role inventory complete. Found ${rolesList.length} role(s) in account.`;\n      break;\n\n    case \"IAM_POLICIES_CUSTOM\":\n      const customPolicies = output.Policies || [];\n      if (customPolicies.length === 0) {\n        status = \"PASS\";\n        evidence = \"No custom IAM policies found. Account uses AWS managed policies only.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${customPolicies.length} custom IAM policy(s). Ensure each follows least privilege.`;\n      }\n      break;\n\n    case \"IAM_GROUPS_LIST\":\n      const iamGroups = output.Groups || [];\n      if (iamGroups.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No IAM groups exist. Users should be organized into groups for permission management.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${iamGroups.length} IAM group(s). Group-based permission management is in place.`;\n      }\n      break;\n\n    case \"IAM_SAML_PROVIDERS\":\n      const samlProviders = output.SAMLProviderList || [];\n      if (samlProviders.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No SAML identity providers configured. Federated SSO is not enabled. Users rely on IAM passwords only.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${samlProviders.length} SAML provider(s). Federated identity/SSO is configured.`;\n      }\n      break;\n\n    case \"IAM_OIDC_PROVIDERS\":\n      const oidcProviders = output.OpenIDConnectProviderList || [];\n      if (oidcProviders.length === 0) {\n        status = \"PASS\";\n        evidence = \"No OIDC providers configured. Not required unless using EKS or federated workloads.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${oidcProviders.length} OIDC provider(s). Workload identity federation is configured.`;\n      }\n      break;\n\n    case \"IAM_VIRTUAL_MFA\":\n      const virtualMfaDevices = output.VirtualMFADevices || [];\n      // Filter out root account MFA — check if non-root users have MFA assigned\n      const assignedMfa = virtualMfaDevices.filter(d => d.SerialNumber && !d.SerialNumber.includes(\"root\"));\n      if (virtualMfaDevices.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No virtual MFA devices found in account. MFA is not being used.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${virtualMfaDevices.length} virtual MFA device(s). ${assignedMfa.length} assigned to non-root users.`;\n      }\n      break;\n\n    case \"IAM_ACCESS_ANALYZER\":\n      const analyzers = output.analyzers || [];\n      const activeAnalyzers = analyzers.filter(a => a.status === \"ACTIVE\");\n      if (activeAnalyzers.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No active IAM Access Analyzer found. External resource access is not being monitored.\";\n      } else {\n        status = \"PASS\";\n        evidence = `IAM Access Analyzer is ACTIVE. Found ${activeAnalyzers.length} active analyzer(s). External access is being monitored.`;\n      }\n      break;\n\n    case \"IAM_CREDENTIAL_REPORT\":\n      // generate-credential-report just triggers generation, returns State\n      const reportState = output.State;\n      if (reportState === \"COMPLETE\" || reportState === \"STARTED\") {\n        status = \"PASS\";\n        evidence = \"IAM credential report generation triggered successfully. Report available for audit review.\";\n      } else {\n        status = \"MANUAL_REVIEW\";\n        evidence = `IAM credential report state: '${reportState}'. Verify report is accessible for auditors.`;\n      }\n      break;\n\n    case \"IAM_SUPPORT_ROLE\":\n      const supportPolicies = Array.isArray(output) ? output : [];\n      if (supportPolicies.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: AWSSupportAccess policy not found. No designated support role exists. CIS Benchmark 1.17 violation.\";\n      } else {\n        status = \"PASS\";\n        evidence = `AWSSupportAccess policy exists. A designated support role is configured for incident management.`;\n      }\n      break;\n\n    case \"IAM_ROOT_ACCESS_KEYS\":\n      // output is the integer value directly from query (0 or 1)\n      const rootKeysPresent = output === 1;\n      status = rootKeysPresent ? \"FAIL\" : \"PASS\";\n      evidence = rootKeysPresent\n        ? \"CRITICAL FAIL: Root account has ACTIVE ACCESS KEYS. Root keys must be deleted immediately. CIS Benchmark 1.4 violation.\"\n        : \"Root account has no access keys. Programmatic root access is disabled.\";\n      break;\n\n    case \"VPC_DEFAULT_SG\":\n      const defaultSgs = output.SecurityGroups || [];\n      // CIS Rule: Default security group should have NO inbound or outbound rules\n      const defaultSgsWithRules = defaultSgs.filter(sg =>\n        (sg.IpPermissions && sg.IpPermissions.length > 0) ||\n        (sg.IpPermissionsEgress && sg.IpPermissionsEgress.length > 0)\n      );\n      if (defaultSgs.length === 0) {\n        status = \"PASS\";\n        evidence = \"No default security groups found.\";\n      } else if (defaultSgsWithRules.length === 0) {\n        status = \"PASS\";\n        evidence = `All ${defaultSgs.length} default security group(s) have no inbound/outbound rules. CIS compliant.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: ${defaultSgsWithRules.length} default security group(s) have active rules. Default SGs should have zero rules. CIS Benchmark 5.4 violation.`;\n      }\n      break;\n\n    case \"VPC_PEERING\":\n      const peeringConnections = output.VpcPeeringConnections || [];\n      const activePeering = peeringConnections.filter(p => p.Status?.Code === \"active\");\n      if (activePeering.length === 0) {\n        status = \"PASS\";\n        evidence = \"No active VPC peering connections found. No cross-VPC network exposure.\";\n      } else {\n        status = \"MANUAL_REVIEW\";\n        evidence = `Found ${activePeering.length} active VPC peering connection(s). Verify each peering is intentional and least-privilege routing is enforced.`;\n      }\n      break;\n\n    case \"VPC_INTERNET_GATEWAYS\":\n      const igws = output.InternetGateways || [];\n      const attachedIgws = igws.filter(igw =>\n      igw.Attachments && igw.Attachments.some(a => a.State === \"available\")\n       );\n  if (attachedIgws.length === 0) {\n    status = \"PASS\";\n    evidence = \"No internet gateways attached to any VPC. No direct internet routing.\";\n  } else {\n    status = \"FAIL\";\n    evidence = `FAIL: Found ${attachedIgws.length} internet gateway(s) attached to VPC(s). Ensure public subnets are intentional and all resources are properly secured behind security groups.`;\n  }\n  break;\n\n    case \"VPC_NACLS\":\n      const nacls = output.NetworkAcls || [];\n      // CIS Rule: Ensure no NACL allows unrestricted inbound on port 22 or 3389\n      let naclViolations = [];\n      nacls.forEach(nacl => {\n        (nacl.Entries || []).forEach(entry => {\n          if (!entry.Egress && entry.RuleAction === \"allow\") {\n            const portRange = entry.PortRange || {};\n            const isSsh = portRange.From <= 22 && portRange.To >= 22;\n            const isRdp = portRange.From <= 3389 && portRange.To >= 3389;\n            const isAllPorts = entry.Protocol === \"-1\"; // all traffic\n            const isWorldOpen =\n              entry.CidrBlock === \"0.0.0.0/0\" ||\n              entry.Ipv6CidrBlock === \"::/0\";\n            if ((isSsh || isRdp || isAllPorts) && isWorldOpen) {\n              naclViolations.push(`NACL:${nacl.NetworkAclId}`);\n            }\n          }\n        });\n      });\n      status = naclViolations.length === 0 ? \"PASS\" : \"FAIL\";\n      evidence = naclViolations.length === 0\n        ? `All ${nacls.length} NACLs restrict unrestricted inbound access on sensitive ports.`\n        : `FAIL: ${naclViolations.length} NACL(s) allow unrestricted inbound on SSH/RDP or all ports: ${[...new Set(naclViolations)].join(', ')}.`;\n      break;\n\n    case \"VPC_SUBNETS\":\n      const subnets = output.Subnets || [];\n      // Check for subnets that auto-assign public IPs — risk of accidental exposure\n      const publicAutoAssign = subnets.filter(s => s.MapPublicIpOnLaunch === true);\n      if (publicAutoAssign.length === 0) {\n        status = \"PASS\";\n        evidence = `All ${subnets.length} subnet(s) do NOT auto-assign public IPs. Instances launch privately by default.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: ${publicAutoAssign.length} subnet(s) auto-assign public IPs on launch. New instances get public IPs automatically: ${publicAutoAssign.map(s => s.SubnetId).join(', ')}.`;\n      }\n      break;\n\n    case \"VPC_ENDPOINTS\":\n      const vpcEndpoints = output.VpcEndpoints || [];\n      const activeEndpoints = vpcEndpoints.filter(e => e.State === \"available\");\n      if (activeEndpoints.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No VPC endpoints configured. AWS service traffic (S3, DynamoDB) routes over public internet instead of private AWS network.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${activeEndpoints.length} active VPC endpoint(s). AWS service traffic stays within private network.`;\n      }\n      break;\n\n    case \"NETWORK_INTERFACES\":\n      const enis = output.NetworkInterfaces || [];\n      // Flag any ENIs with public IPs that are not attached\n      const unattachedPublicEnis = enis.filter(e =>\n        e.Status !== \"in-use\" && e.Association?.PublicIp\n      );\n      if (unattachedPublicEnis.length === 0) {\n        status = \"PASS\";\n        evidence = `Found ${enis.length} network interface(s). No unattached ENIs with public IPs detected.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: Found ${unattachedPublicEnis.length} unattached network interface(s) with public IPs. Orphaned ENIs waste cost and increase attack surface.`;\n      }\n      break;\n\n    case \"ELASTIC_IPS\":\n      const eips = output.Addresses || [];\n      // Unassociated EIPs = wasted cost + potential security gap\n      const unassociatedEips = eips.filter(e => !e.AssociationId);\n      if (eips.length === 0) {\n        status = \"PASS\";\n        evidence = \"No Elastic IPs allocated. No static public IP exposure.\";\n      } else if (unassociatedEips.length === 0) {\n        status = \"PASS\";\n        evidence = `Found ${eips.length} Elastic IP(s), all currently associated. No orphaned EIPs.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: Found ${unassociatedEips.length} unassociated Elastic IP(s) out of ${eips.length} total. Orphaned EIPs increase attack surface and incur unnecessary cost.`;\n      }\n      break;\n\n    case \"CT_TRAILS_LIST\":\n      const trailsList = output.trailList || [];\n      if (trailsList.length === 0) {\n        status = \"FAIL\";\n        evidence = \"CRITICAL FAIL: No CloudTrail trails found. Zero audit logging configured on this account. CIS Benchmark 3.1 violation.\";\n      } else {\n        const multiRegionTrails = trailsList.filter(t => t.IsMultiRegionTrail === true);\n        status = multiRegionTrails.length > 0 ? \"PASS\" : \"FAIL\";\n        evidence = multiRegionTrails.length > 0\n          ? `Found ${trailsList.length} trail(s), ${multiRegionTrails.length} covering all regions. Account-wide audit logging active.`\n          : `FAIL: Found ${trailsList.length} trail(s) but NONE cover all regions. Activity in other regions is unlogged.`;\n      }\n      break;\n\n    case \"CT_EVENT_SELECTORS\":\n      // output is array of TrailARNs from query\n      const trailArns = Array.isArray(output) ? output : [];\n      if (trailArns.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No trails found to check event selectors. Management events are not being logged.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${trailArns.length} trail ARN(s). Event selector verification requires per-trail inspection. Trails exist for audit coverage.`;\n      }\n      break;\n\n    case \"CW_ALARMS_LIST\":\n      const cwAlarms = output.MetricAlarms || [];\n      if (cwAlarms.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No CloudWatch alarms configured. No automated alerting exists for suspicious activity or resource thresholds.\";\n      } else {\n        const alarmingAlarms = cwAlarms.filter(a => a.StateValue === \"ALARM\");\n        status = \"PASS\";\n        evidence = `Found ${cwAlarms.length} CloudWatch alarm(s). ${alarmingAlarms.length} currently in ALARM state. Automated monitoring is active.`;\n      }\n      break;\n\n    case \"CW_LOG_GROUPS\":\n      const logGroups = output.logGroups || [];\n      if (logGroups.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No CloudWatch Log Groups found. Application and infrastructure logs are not being centralized.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${logGroups.length} CloudWatch Log Group(s). Centralized logging is configured.`;\n      }\n      break;\n\n    case \"CW_METRIC_FILTERS\":\n      const metricFilters = output.metricFilters || [];\n      // CIS requires specific metric filters for root usage, unauthorized API calls etc.\n      const cisRequiredPatterns = [\n        \"root\",\n        \"ConsoleLogin\",\n        \"AuthorizationFailure\",\n        \"IAMPolicy\",\n        \"CloudTrail\",\n        \"S3BucketPolicy\",\n        \"VPC\",\n      ];\n      const foundPatterns = cisRequiredPatterns.filter(pattern =>\n        metricFilters.some(f =>\n          f.filterPattern && f.filterPattern.toLowerCase().includes(pattern.toLowerCase())\n        )\n      );\n      if (metricFilters.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No CloudWatch metric filters configured. CIS Benchmark requires filters for root usage, auth failures, IAM changes, and more (CIS 3.1-3.14).\";\n      } else if (foundPatterns.length >= 4) {\n        status = \"PASS\";\n        evidence = `Found ${metricFilters.length} metric filter(s) covering key CIS patterns: ${foundPatterns.join(', ')}.`;\n      } else {\n        status = \"FAIL\";\n        evidence = `FAIL: Found ${metricFilters.length} metric filter(s) but missing critical CIS patterns. Only covering: ${foundPatterns.join(', ') || 'none'}. Required: root, ConsoleLogin, AuthorizationFailure, IAMPolicy changes.`;\n      }\n      break;\n\n    case \"CW_LOG_RETENTION\":\n      // output is array of {name, retention} objects\n      const logGroupsRetention = Array.isArray(output) ? output : [];\n      if (logGroupsRetention.length === 0) {\n        status = \"PASS\";\n        evidence = \"No log groups found to check retention on.\";\n      } else {\n        // SOC2/ISO27001 require minimum 90 days, best practice is 365 days\n        const noRetention = logGroupsRetention.filter(g => !g.retention || g.retention === null);\n        const shortRetention = logGroupsRetention.filter(g => g.retention && g.retention < 90);\n        if (noRetention.length > 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: ${noRetention.length} log group(s) have NO retention policy set. Logs kept forever (cost risk) or deleted unpredictably: ${noRetention.map(g => g.name).slice(0,3).join(', ')}${noRetention.length > 3 ? '...' : ''}.`;\n        } else if (shortRetention.length > 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: ${shortRetention.length} log group(s) have retention under 90 days. SOC2/ISO27001 require minimum 90 days log retention.`;\n        } else {\n          status = \"PASS\";\n          evidence = `All ${logGroupsRetention.length} log group(s) have retention policies of 90+ days. Compliant with SOC2/ISO27001.`;\n        }\n      }\n      break;\n\n    case \"SNS_TOPICS_LIST\":\n      const snsTopics = output.Topics || [];\n      if (snsTopics.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No SNS topics found. No notification infrastructure exists for security alerts or CloudWatch alarms.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${snsTopics.length} SNS topic(s). Notification infrastructure is in place for alerting.`;\n      }\n      break;\n\n    case \"SNS_SUBSCRIPTIONS\":\n      const snsSubs = output.Subscriptions || [];\n      if (snsSubs.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No SNS subscriptions found. Even if topics exist, nobody is receiving alerts. Alarms are firing silently.\";\n      } else {\n        const confirmedSubs = snsSubs.filter(s => s.SubscriptionArn !== \"PendingConfirmation\");\n        status = confirmedSubs.length > 0 ? \"PASS\" : \"FAIL\";\n        evidence = confirmedSubs.length > 0\n          ? `Found ${confirmedSubs.length} confirmed SNS subscription(s). Alerts are being delivered to recipients.`\n          : `FAIL: Found ${snsSubs.length} SNS subscription(s) but ALL are pending confirmation. Nobody is receiving alerts.`;\n      }\n      break;\n\n    case \"GUARDDUTY_DETECTORS\":\n      const detectorIds = output.DetectorIds || [];\n      if (detectorIds.length === 0) {\n        status = \"FAIL\";\n        evidence = \"CRITICAL FAIL: GuardDuty is NOT enabled. No threat detection running. Malicious activity, compromised credentials, and crypto-mining will go undetected. CIS Benchmark violation.\";\n      } else {\n        status = \"PASS\";\n        evidence = `GuardDuty is enabled with ${detectorIds.length} detector(s). Threat detection is active on this account.`;\n      }\n      break;\n\n    case \"GUARDDUTY_FINDINGS\":\n      // We reuse list-detectors — if detectors exist we check for active findings\n      // High/Critical findings = FAIL, none or low = PASS\n      const gdDetectors = output.DetectorIds || [];\n      if (gdDetectors.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: GuardDuty not enabled. Cannot check for active threat findings.\";\n      } else {\n        status = \"PASS\";\n        evidence = `GuardDuty detector(s) active: ${gdDetectors.join(', ')}. Run findings check per-detector for active threat inventory.`;\n      }\n      break;\n\n    case \"SECURITYHUB_STATUS\":\n      // If SecurityHub not enabled AWS returns an error caught by isNoSuchEntity\n      if (isNoSuchEntity) {\n        status = \"FAIL\";\n        evidence = \"FAIL: AWS Security Hub is NOT enabled. Centralized security findings aggregation is missing. Required for SOC2 and CIS compliance monitoring.\";\n      } else {\n        const hubArn = output.HubArn;\n        const autoRemediation = output.AutoEnableControls;\n        status = hubArn ? \"PASS\" : \"FAIL\";\n        evidence = hubArn\n          ? `AWS Security Hub is ENABLED. ARN: ${hubArn}. Auto-enable controls: ${autoRemediation ? 'Yes' : 'No'}.`\n          : \"FAIL: Security Hub response missing HubArn. Verify Security Hub configuration.\";\n      }\n      break;\n\n    case \"SECURITYHUB_STANDARDS\":\n      // If SecurityHub not enabled this will also fail\n      if (isNoSuchEntity) {\n        status = \"FAIL\";\n        evidence = \"FAIL: Security Hub not enabled. No compliance standards are being monitored.\";\n      } else {\n        const standards = output.StandardsSubscriptions || [];\n        if (standards.length === 0) {\n          status = \"FAIL\";\n          evidence = \"FAIL: Security Hub is enabled but NO compliance standards are subscribed. CIS AWS Foundations, PCI DSS, or FSBP should be enabled.\";\n        } else {\n          const enabledStandards = standards.filter(s => s.StandardsStatus === \"READY\");\n          const standardNames = enabledStandards.map(s => {\n            if (s.StandardsArn.includes(\"cis-aws-foundations\")) return \"CIS AWS Foundations\";\n            if (s.StandardsArn.includes(\"pci-dss\")) return \"PCI DSS\";\n            if (s.StandardsArn.includes(\"aws-foundational\")) return \"AWS FSBP\";\n            if (s.StandardsArn.includes(\"nist\")) return \"NIST 800-53\";\n            return s.StandardsArn.split('/').pop();\n          });\n          status = enabledStandards.length > 0 ? \"PASS\" : \"FAIL\";\n          evidence = enabledStandards.length > 0\n            ? `Security Hub has ${enabledStandards.length} active standard(s): ${standardNames.join(', ')}.`\n            : `FAIL: ${standards.length} standard(s) found but none are in READY state. Standards may still be enabling.`;\n        }\n      }\n      break;\n\n    case \"INSPECTOR_STATUS\":\n      // Inspector2 list-coverage returns covered resources\n      // If not enabled it throws an error caught by isNoSuchEntity\n      if (isNoSuchEntity) {\n        status = \"FAIL\";\n        evidence = \"FAIL: AWS Inspector is NOT enabled. Automated vulnerability scanning for EC2 and Lambda is not running. CVEs will go undetected.\";\n      } else {\n        const coveredResources = output.coveredResources || [];\n        if (coveredResources.length === 0) {\n          status = \"FAIL\";\n          evidence = \"FAIL: AWS Inspector is enabled but no resources are being scanned. Verify EC2 and Lambda scanning is configured.\";\n        } else {\n          status = \"PASS\";\n          evidence = `AWS Inspector is scanning ${coveredResources.length} resource(s) for vulnerabilities.`;\n        }\n      }\n      break;\n\n    case \"MACIE_STATUS\":\n      // If Macie not enabled AWS returns AccessDeniedException or similar\n      if (isNoSuchEntity) {\n        status = \"FAIL\";\n        evidence = \"FAIL: Amazon Macie is NOT enabled. Sensitive data (PII, credentials) in S3 buckets is not being discovered or monitored. Required for CAIQ/SIG data classification controls.\";\n      } else {\n        const macieStatus = output.status;\n        const findingFrequency = output.findingPublishingFrequency;\n        if (macieStatus === \"ENABLED\") {\n          status = \"PASS\";\n          evidence = `Amazon Macie is ENABLED. S3 sensitive data discovery is active. Finding frequency: ${findingFrequency || 'default'}.`;\n        } else if (macieStatus === \"PAUSED\") {\n          status = \"FAIL\";\n          evidence = \"FAIL: Amazon Macie is PAUSED. Sensitive data monitoring is suspended. Re-enable to maintain data classification compliance.\";\n        } else {\n          status = \"FAIL\";\n          evidence = `FAIL: Amazon Macie status is '${macieStatus}'. Sensitive data in S3 is not being monitored.`;\n        }\n      }\n      break;\n\n    case \"AWS_CONFIG_RECORDERS\":\n      const recorders = output.ConfigurationRecorders || [];\n      if (recorders.length === 0) {\n        status = \"FAIL\";\n        evidence = \"CRITICAL FAIL: AWS Config is NOT configured. No resource configuration history is being recorded. CIS Benchmark 3.5 violation. Required for SOC2, ISO27001, and CAIQ.\";\n      } else {\n        const allResourceRecorder = recorders.find(r =>\n          r.recordingGroup?.allSupported === true ||\n          r.recordingGroup?.includeGlobalResourceTypes === true\n        );\n        status = allResourceRecorder ? \"PASS\" : \"FAIL\";\n        evidence = allResourceRecorder\n          ? `AWS Config recorder is configured and recording all supported resource types including global resources.`\n          : `FAIL: AWS Config recorder exists but is NOT recording all resource types. Global resources like IAM may be missing from config history.`;\n      }\n      break;\n\n    case \"AWS_CONFIG_STATUS\":\n      const recorderStatuses = output.ConfigurationRecordersStatus || [];\n      if (recorderStatuses.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No AWS Config recorder status found. Config may not be set up correctly.\";\n      } else {\n        const recordingNow = recorderStatuses.filter(r => r.recording === true);\n        const failedRecorders = recorderStatuses.filter(r =>\n          r.lastStatus === \"FAILURE\" || r.lastStatus === \"NOT_APPLICABLE\"\n        );\n        if (recordingNow.length === 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: AWS Config recorder exists but is NOT actively recording. Resource changes are not being tracked.`;\n        } else if (failedRecorders.length > 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: ${failedRecorders.length} AWS Config recorder(s) have FAILED status. Config history may have gaps.`;\n        } else {\n          status = \"PASS\";\n          evidence = `AWS Config is actively recording. ${recordingNow.length} recorder(s) running with no failures.`;\n        }\n      }\n      break;\n\n    case \"AWS_CONFIG_RULES\":\n      const configRules = output.ConfigRules || [];\n      if (configRules.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No AWS Config rules defined. Automated compliance checks are not running. No continuous compliance monitoring in place.\";\n      } else {\n        const managedRules = configRules.filter(r => r.Source?.Owner === \"AWS\");\n        const customRules = configRules.filter(r => r.Source?.Owner === \"CUSTOM_LAMBDA\");\n        status = \"PASS\";\n        evidence = `Found ${configRules.length} Config rule(s): ${managedRules.length} AWS managed, ${customRules.length} custom. Continuous compliance monitoring active.`;\n      }\n      break;\n\n    case \"AWS_CONFIG_DELIVERY\":\n      const deliveryChannels = output.DeliveryChannels || [];\n      if (deliveryChannels.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No AWS Config delivery channel configured. Even if recording is active, config snapshots and history are not being delivered to S3 or SNS.\";\n      } else {\n        const withS3 = deliveryChannels.filter(d => d.s3BucketName && d.s3BucketName !== \"\");\n        const withSns = deliveryChannels.filter(d => d.snsTopicARN && d.snsTopicARN !== \"\");\n        status = withS3.length > 0 ? \"PASS\" : \"FAIL\";\n        evidence = withS3.length > 0\n          ? `AWS Config delivery channel configured. Delivering to S3: ${withS3[0].s3BucketName}. SNS notifications: ${withSns.length > 0 ? 'enabled' : 'not configured'}.`\n          : `FAIL: Config delivery channel exists but has no S3 bucket configured. Config snapshots are not being stored.`;\n      }\n      break;\n\n    case \"AWS_CONFIG_COMPLIANCE\":\n      const complianceRules = output.ComplianceByConfigRules || [];\n      if (complianceRules.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No Config compliance data found. Either no rules exist or compliance has not been evaluated yet.\";\n      } else {\n        const nonCompliant = complianceRules.filter(r =>\n          r.Compliance?.ComplianceType === \"NON_COMPLIANT\"\n        );\n        const compliant = complianceRules.filter(r =>\n          r.Compliance?.ComplianceType === \"COMPLIANT\"\n        );\n        const notApplicable = complianceRules.filter(r =>\n          r.Compliance?.ComplianceType === \"NOT_APPLICABLE\"\n        );\n        if (nonCompliant.length === 0) {\n          status = \"PASS\";\n          evidence = `All ${compliant.length} evaluated Config rule(s) are COMPLIANT. ${notApplicable.length} not applicable.`;\n        } else {\n          status = \"FAIL\";\n          evidence = `FAIL: ${nonCompliant.length} Config rule(s) are NON-COMPLIANT out of ${complianceRules.length} total. Non-compliant rules: ${nonCompliant.map(r => r.ConfigRuleName).slice(0, 5).join(', ')}${nonCompliant.length > 5 ? '...' : ''}.`;\n        }\n      }\n      break;\n\n    case \"SECRETS_MANAGER_LIST\":\n      const secretsList = output.SecretList || [];\n      if (secretsList.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No secrets found in AWS Secrets Manager. Application credentials may be hardcoded in code or environment variables instead of using a secrets vault.\";\n      } else {\n        status = \"PASS\";\n        evidence = `Found ${secretsList.length} secret(s) in Secrets Manager. Centralized secrets vault is being used.`;\n      }\n      break;\n\n    case \"SECRETS_ROTATION\":\n      const secretsForRotation = output.SecretList || [];\n      if (secretsForRotation.length === 0) {\n        status = \"PASS\";\n        evidence = \"No secrets found in Secrets Manager. Nothing to check rotation on.\";\n      } else {\n        const rotationEnabled = secretsForRotation.filter(s => s.RotationEnabled === true);\n        const rotationDisabled = secretsForRotation.filter(s => !s.RotationEnabled);\n        const neverRotated = secretsForRotation.filter(s => {\n          if (!s.LastRotatedDate) return true;\n          const daysSince = (Date.now() - new Date(s.LastRotatedDate)) / (1000 * 60 * 60 * 24);\n          return daysSince > 90;\n        });\n        if (rotationDisabled.length === 0) {\n          status = \"PASS\";\n          evidence = `All ${secretsList.length} secret(s) have automatic rotation enabled.`;\n        } else if (rotationDisabled.length === secretsForRotation.length) {\n          status = \"FAIL\";\n          evidence = `FAIL: ALL ${rotationDisabled.length} secret(s) have rotation DISABLED. Static credentials never expire. CIS/SOC2 violation.`;\n        } else {\n          status = \"FAIL\";\n          evidence = `FAIL: ${rotationDisabled.length} of ${secretsForRotation.length} secret(s) have rotation disabled. ${neverRotated.length} have not been rotated in 90+ days.`;\n        }\n      }\n      break;\n\n    case \"ACM_CERTIFICATES\":\n      const certs = output.CertificateSummaryList || [];\n      if (certs.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No ACM certificates found. SSL/TLS termination may be using unmanaged certificates without automated renewal. Expiry risk.\";\n      } else {\n        const issuedCerts = certs.filter(c => c.Status === \"ISSUED\");\n        const pendingCerts = certs.filter(c => c.Status === \"PENDING_VALIDATION\");\n        const failedCerts = certs.filter(c => c.Status === \"FAILED\");\n        if (failedCerts.length > 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: ${failedCerts.length} ACM certificate(s) in FAILED state. TLS may be broken for associated domains.`;\n        } else {\n          status = \"PASS\";\n          evidence = `Found ${certs.length} ACM certificate(s): ${issuedCerts.length} issued, ${pendingCerts.length} pending validation. ACM manages auto-renewal.`;\n        }\n      }\n      break;\n\n    case \"ACM_EXPIRY_CHECK\":\n      // output is array of {Arn, Domain, Status} from query\n      const certDetails = Array.isArray(output) ? output : [];\n      if (certDetails.length === 0) {\n        status = \"PASS\";\n        evidence = \"No ACM certificates found to check expiry on.\";\n      } else {\n        const expiredCerts = certDetails.filter(c => c.Status === \"EXPIRED\");\n        const inactiveCerts = certDetails.filter(c =>\n          c.Status !== \"ISSUED\" && c.Status !== \"PENDING_VALIDATION\"\n        );\n        if (expiredCerts.length > 0) {\n          status = \"FAIL\";\n          evidence = `CRITICAL FAIL: ${expiredCerts.length} ACM certificate(s) are EXPIRED: ${expiredCerts.map(c => c.Domain).join(', ')}. Services using these certs will show SSL errors.`;\n        } else if (inactiveCerts.length > 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: ${inactiveCerts.length} certificate(s) are not in active state: ${inactiveCerts.map(c => `${c.Domain}(${c.Status})`).join(', ')}.`;\n        } else {\n          status = \"PASS\";\n          evidence = `All ${certDetails.length} ACM certificate(s) are in good standing. Domains covered: ${certDetails.map(c => c.Domain).slice(0, 5).join(', ')}${certDetails.length > 5 ? '...' : ''}.`;\n        }\n      }\n      break;\n\n    case \"SSM_PARAMETERS\":\n      const ssmParams = output.Parameters || [];\n      if (ssmParams.length === 0) {\n        status = \"FAIL\";\n        evidence = \"FAIL: No SSM Parameter Store parameters found. Configuration values and secrets may be hardcoded in application code or unencrypted environment variables.\";\n      } else {\n        // Check if sensitive params use SecureString type\n        const secureParams = ssmParams.filter(p => p.Type === \"SecureString\");\n        const plainParams = ssmParams.filter(p => p.Type === \"String\");\n        const suspiciousPlain = plainParams.filter(p => {\n          const name = p.Name.toUpperCase();\n          return [\"SECRET\", \"PASSWORD\", \"KEY\", \"TOKEN\", \"CREDENTIAL\"].some(k => name.includes(k));\n        });\n        if (suspiciousPlain.length > 0) {\n          status = \"FAIL\";\n          evidence = `FAIL: Found ${suspiciousPlain.length} SSM parameter(s) with sensitive names stored as plaintext String instead of SecureString: ${suspiciousPlain.map(p => p.Name).join(', ')}.`;\n        } else {\n          status = \"PASS\";\n          evidence = `Found ${ssmParams.length} SSM parameter(s): ${secureParams.length} encrypted SecureString, ${plainParams.length} plain String. No plaintext sensitive parameters detected.`;\n        }\n      }\n      break;\n\n    default:\n      status = \"MANUAL_REVIEW\";\n      evidence = `Logic for ${cmdInfo.check_name} is not yet implemented in the Switchboard.`;\n  }\n} catch (e) {\n  status = \"MANUAL_REVIEW\";\n  evidence = `PARSING ERROR: Failed to interpret AWS response. ${e.message}`;\n}\n\nreturn {\n  check_name: cmdInfo.check_name,\n  resource_type: cmdInfo.resource_type,\n  compliance_status: status,\n  evidence_summary: evidence,\n  aws_account_id: $('Filter').item.json.aws_account_id, \n  raw_data: output\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "65424adb-aa43-4885-85e3-7845c2eac818",
      "name": "SWITCHBOARD"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get MANUAL_REVIEW rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MANUAL_REVIEW rows": {
      "main": [
        [
          {
            "node": "Command Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Resolver": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AWS cli request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AWS cli request": {
      "main": [
        [
          {
            "node": "SWITCHBOARD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCHBOARD": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "99b61c08-ca6f-4cf3-8fdc-33db85972a78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41fe31e1f1602f7a8215f033996e1436dd6e5c45072152cec0f066af89b29439"
  },
  "id": "7b55soahweYFfO81",
  "tags": []
}